.book figure{
    border: 5px solid black ;
    display: inline-block;
    max-width: 900px;
}

img{
    display: block;
    width: 100%;
    height: 400px; /* a height write in html */
}

div {
    text-align: center;
    border: 2px solid red;
    
}

